@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(../img/holi.jpg);
    min-height: 100%;
    background-size: cover;
    
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
   
}


.countdown-container{  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

h1{
    font-size: 4rem;
    font-weight: normal;
    /* margin-top: 5rem; */
}

.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;
}
span{
   display: flex; 
   justify-content: center;
   font-size: 1.3rem;
   
}

.input{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr ,1fr;
    height: 30vh;
    
}

.input .input-box{
    margin-top: -1.5rem;
}

.input h3{
    font-size:1.5rem ;
    font-weight:300;
}

.input #submit{
    display: block;
    margin: auto;
    margin-top: 1.5rem;
    padding: 0.3rem;
    background-color:  #5552eb;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: 7vw;
    height: 5vh;
    font-size: 1rem;
    
}

.input #submit:hover{
    background-color: #3836c9;
}
